wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://catcherws.cdm.oclc.org/v6.0.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://catcherws.cdm.oclc.org/v6.0.0/" name="CatcherService">
<types>
<xsd:schema>
<xsd:import namespace="http://catcherws.cdm.oclc.org/v6.0.0/" schemaLocation="http://worldcat.org:80/webservices/contentdm/catcher?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getWSVersion">
<part name="parameters" element="tns:getWSVersion"></part>
</message>
<message name="getWSVersionResponse">
<part name="parameters" element="tns:getWSVersionResponse"></part>
</message>
<message name="getCONTENTdmHTTPTransferVersion">
<part name="parameters" element="tns:getCONTENTdmHTTPTransferVersion"></part>
</message>
<message name="getCONTENTdmHTTPTransferVersionResponse">
<part name="parameters" element="tns:getCONTENTdmHTTPTransferVersionResponse"></part>
</message>
<message name="getCONTENTdmCatalog">
<part name="parameters" element="tns:getCONTENTdmCatalog"></part>
</message>
<message name="getCONTENTdmCatalogResponse">
<part name="parameters" element="tns:getCONTENTdmCatalogResponse"></part>
</message>
<message name="getCONTENTdmCollectionConfig">
<part name="parameters" element="tns:getCONTENTdmCollectionConfig"></part>
</message>
<message name="getCONTENTdmCollectionConfigResponse">
<part name="parameters" element="tns:getCONTENTdmCollectionConfigResponse"></part>
</message>
<message name="getCONTENTdmControlledVocabTerms">
<part name="parameters" element="tns:getCONTENTdmControlledVocabTerms"></part>
</message>
<message name="getCONTENTdmControlledVocabTermsResponse">
<part name="parameters" element="tns:getCONTENTdmControlledVocabTermsResponse"></part>
</message>
<message name="processCONTENTdm">
<part name="parameters" element="tns:processCONTENTdm"></part>
</message>
<message name="processCONTENTdmResponse">
<part name="parameters" element="tns:processCONTENTdmResponse"></part>
</message>
<portType name="Catcher">
<operation name="getWSVersion">
<input message="tns:getWSVersion"></input>
<output message="tns:getWSVersionResponse"></output>
</operation>
<operation name="getCONTENTdmHTTPTransferVersion">
<input message="tns:getCONTENTdmHTTPTransferVersion"></input>
<output message="tns:getCONTENTdmHTTPTransferVersionResponse"></output>
</operation>
<operation name="getCONTENTdmCatalog">
<input message="tns:getCONTENTdmCatalog"></input>
<output message="tns:getCONTENTdmCatalogResponse"></output>
</operation>
<operation name="getCONTENTdmCollectionConfig">
<input message="tns:getCONTENTdmCollectionConfig"></input>
<output message="tns:getCONTENTdmCollectionConfigResponse"></output>
</operation>
<operation name="getCONTENTdmControlledVocabTerms">
<input message="tns:getCONTENTdmControlledVocabTerms"></input>
<output message="tns:getCONTENTdmControlledVocabTermsResponse"></output>
</operation>
<operation name="processCONTENTdm">
<input message="tns:processCONTENTdm"></input>
<output message="tns:processCONTENTdmResponse"></output>
</operation>
</portType>
<binding name="CatcherPortBinding" type="tns:Catcher">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getWSVersion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCONTENTdmHTTPTransferVersion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCONTENTdmCatalog">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCONTENTdmCollectionConfig">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCONTENTdmControlledVocabTerms">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="processCONTENTdm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CatcherService">
<port name="CatcherPort" binding="tns:CatcherPortBinding">
<soap:address location="https://worldcat.org/webservices/contentdm/catcher?wsdl"></soap:address>
</port>
</service>
</definitions>
